@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, DATA 6900!</h1>
<hr />
<br /> 
Blazor WebAssembly runs on the client side, so the C# code that you write only has
<br />
access to resources in the browser and it must make HTTP calls (that might require
<br />
authentication) before it can access resources on the server.
<br />
<br />
<br />
<br />
<img width="500" src="images/Huntsman_Logo.png" alt="Hunstman School of Business" />

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
