@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, DATA 6900 (and 3.5 guests)!</h1>
<hr />
<h3>This is a 'Blazor' UI Application.</h3>
<br />
BlazorServer is employing 'Blazor' component pages to display content to the user (marked by '.razor' suffix/extension).
<br />
The Blazor component embeds C# code with HTML/CSS and allows .NET to avert the need for JavaScript client-side scripting.
<br />
In the unending battle for request/response cycle efficiency, the display logic for this UI is transpiring entirely on the server-side.
<br />
<br />
<br />
<br />
<img width="500" src="images/Huntsman_Logo.png" alt="Hunstman School of Business" />
@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@*<Customers Country="Germany" />
<Customers />*@
